* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Huvud designen */

body {
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;   
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}

/* Header */

#showcase {
    min-height: 550px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url("images/Food-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    z-index: -1;
    opacity: 0.6;
}

#showcase h1 {
    padding-top: 150px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;
}

/* NavBar 
 .container {
     width:100%;
     height:100%;
 }

 .navbar {
     position: fixed;
     top:0;
     z-index: 1;
     display:flex;
     width: 100%;
     height:60px;
     background: rgba(0,0,0,0.7)
 }
 .navbar ul {
     display:flex;
     list-style: none;
     width:100%;
     justify-content: center;

 }

 .navbar ul li {
     margin: 0 1rem;
     padding: 1rem;

 }
 .navbar ul li a {
     text-decoration: none;
     text-transform: uppercase;
     color:white;
 }

 .navbar ul li a:hover {
     color: #5ca1e5;
 }

 .logo {
     z-index: 1;
     height: 50px;
     width: auto;
     cursor: pointer;
     margin-left: 5px;
     margin-top: 5px;
 }
*/

.topnav {
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    width: 100%;
    height:60px;
    background: rgba(0,0,0,0.7)
  }
  
  .topnav a {   
    display: inline-block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #5ca1e5;
    color: #f2f2f2;
  }
  
  .topnav a.active {
    background-color: #5ca1e5;
    color: #f2f2f2;
  }
  
  .topnav .icon {
    display: none;
  }

  .logo {
    z-index: 1;
    height: 50px;
    width: auto;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}
  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: center;
      display: block;
      text-align: left;
    }
    .fa {
        padding: 5px;
        font-size: 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 5px;
        float:left;
      }
} 
/* Section A */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* Section B*/

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin:0;
    padding:0;
}

#section-b li {
    margin-bottom: 1em;
    background: #333;
    color: #fff;
}

.card-content {
    padding: 1.5em;
}

/* Section C */

#section-c {
    background: #eaeaea;
    color: #333;
    padding: 2em;
}

/* Section D */

#section-d .box {
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child {
    background: #5ca1e5;
}

/* Footer */

#main-footer {
    padding: 2em;
    background: rgb(0, 0, 0);
    color: #fff;
    text-align: center
}

#main-footer a {
    color: darkblue;
    text-decoration: none;
}

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p {
        padding-top:0;
    }

    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }
}

/* Social Media Knappar */
.fa {
    font-size: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    
    color: white;
  }
  
  .fa-twitter {
    
    color: white;
  }
  
  .fa-youtube {
    
    color: white;
  }
  
  .fa-instagram {
    
    color: white;
  }
  